body { background-image: url(https://th.bing.com/th/id/OIP.lEYll3QGW2hrRVTiOimusAHaEK?rs=1&pid=ImgDetMain);
background-size: cover;
background-repeat: no-repeat;}
h3 {color: rgb(179, 225, 240);}
h4 {color: aliceblue;}
p {color: cornsilk;}
label {color: rgb(255, 255, 255); }
input {color: rgb(228, 14, 14); }